[Unit]
Description=Call users suspend target after system suspend
After=suspend.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user start suspend.target

[Install]
WantedBy=suspend.target
