[Desktop Entry]
Type=Application
Name=System Update
Comment=Update System, Flatpaks, Distrobox containers, and more
Icon=/usr/share/ublue-os/Tux.svg
Categories=ConsoleOnly;System;
Terminal=true
Exec=/usr/bin/bash -c "ujust update; read -p 'Press Enter to close this window'"
