[Unit]
Description=Actions on Charger Connected

[Service]
Type=oneshot
ExecStart=/usr/bin/gdctl set -L --primary --scale 2 -M eDP-1 -m 2880x1800@120.001

[Install]
WantedBy=default.target
