[Unit]
Description=Check charging status and change refresh rate after wakeup
After=resume.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/bash -c 'grep -q 1 "/sys/class/power_supply/ADP0/online" && /usr/bin/gnome-randr modify -m 2880x1800@120.001 eDP-2 || /usr/bin/gnome-randr modify -m 2880x1800@60.001 eDP-2'

[Install]
WantedBy=resume.target
